{{#if (and (not zen.state.stats.statsResponse) zen.state.stats.statsIsPending)}}
  <p>Loading chart...</p>
{{else if zen.state.stats.statsError}}
  <p>Failed to fetch stats: {{zen.state.stats.statsError}}</p>
{{else if zen.state.stats.statsResponse}}
  {{stats-chart
    data = zen.state.stats.statsChartData

    currentIntervalOption = zen.state.application.currentIntervalOption
    intervalOptions       = zen.state.application.intervalOptions

    updateIntervalAction = (action 'updateInterval')
  }}
{{/if}}
