<div class = "route-login">

  {{#if zen.state.session.authenticationIsPending}}
    Logging in...
  {{else}}
    {{input
      value          = password
      type           = 'password'
      insert-newline = (action 'login')
    }}

    <button
      {{action 'login'}}
    >
      Log in
    </button>
  {{/if}}

  {{#if zen.state.session.authenticationError}}
    <p>{{zen.state.session.authenticationError.error_text}}</p>
  {{/if}}

</div>
