{{#settings-field
  fieldName   = fieldName
  label       = label
  description = description

  requestIsPending  = requestIsPending
  requestIsRejected = requestIsRejected

  errorLabel = errorLabel
}}
  {{one-way-input
    class     = 'settingsFieldInputButton-input'
    disabled  = requestIsPending
    type      = type
    value     = (if (is-nully userInput) defaultValue userInput)
    update    = (action (mut userInput))
  }}

  <button
    class    = 'settingsFieldInputButton-submit'
    disabled = {{or requestIsPending (not userInput.length)}}
    {{action submitAction userInput}}
  >
    {{t (if requestIsPending 'domain.forms.saving' 'domain.forms.save')}}
  </button>
{{/settings-field}}{{! maxTempBeforeTimer }}