@at-root

  @import node_modules/ember-element-query/addon/mixins



  ////------------------------------------------
  .route-application
    //------------------------------------------

    // ----- Layout -----
    display        : flex
    flex-direction : column
    min-height     : 100vh

    .route-application-main
      flex-grow : 1



  ////------------------------------------------
  .route-application-header
    //------------------------------------------

    // ----- Layout -----
    padding : config-get('bm.layout.container.padding')

    // ----- RWD -----
    +eq-to(s)
      .route-application-header-item:not(:last-child)
        margin-bottom : config-get('bm.layout.container.padding')


    +eq-from(m)
      display         : flex
      justify-content : space-between
      align-items     : center



  ////------------------------------------------
  .route-application-title
    //------------------------------------------

    // ----- Text -----
    font-size : 2rem



  ////------------------------------------------
  .route-application-menu
    //------------------------------------------

    // ----- Content layout -----
    .route-application-menu-item:not(:last-child)
      margin-right : config-get('bm.layout.container.padding')



  ////------------------------------------------
  .route-application-main
    //------------------------------------------

    // ----- RWD -----
    +eq-from(m)
      display : flex

      .route-application-sidebar
        width       : 200px
        flex-shrink : 0

      .route-application-content
        flex-grow : 1



  ////------------------------------------------
  .route-application-sidebar
    //------------------------------------------

    // ----- Layout -----
    padding : config-get('bm.layout.container.padding')

    // ----- Content layout -----
    > *:not(:last-child)
      margin-bottom : config-get('bm.layout.container.padding')



  ////------------------------------------------
  .route-application-content
    //------------------------------------------

    // ----- Layout -----
    position : relative
    padding  : config-get('bm.layout.container.padding')

