<div class="route-application">

  <div class="route-application-sidebar">
    {{stats-x stats=zen.state.stats.stats}}
  </div>{{! sidebar }}


  <div class="route-application-content">

  </div>{{! content }}

</div>