@at-root

  @import app/styles/helpers/utility/position

  ////------------------------------------------
  .statsChart-wrapper
    //------------------------------------------

    // ----- Intrinsic ratio -----
    position: relative
    height: 0
    padding-top: 60%

    .statsChart-chart
      +stretch
