<div class="statsChart-wrapper">

  {{ember-chart
    class   = "statsChart-chart"
    type    = 'line'
    data    = data
    options = options
    width   = null
    height  = null
  }}

</div>{{! wrapper }}